header {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa a altura da tela */
    overflow: hidden;
    background-image: url('../img/vinil-clem-onojeghuo.jpg');
    background-size: cover;         /* Faz a imagem preencher sem distorcer */
    background-position: center;    /* Centraliza a imagem */
    background-repeat: no-repeat;   /* Não repete a imagem */
}

.slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
}

.slogan h1 {
    font-size: 4rem;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.slogan p {
    font-size: 1.5rem;
    margin: 10px 0 0 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.slogan h2 {
    font-size: 3rem;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.texto_h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.discos {
    display: flex;
    flex-wrap: wrap; /*quebra a linha de baixo*/
    justify-content: center;
    gap: 30px;
}

.disco {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 180px;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s;
}

.disco:hover {
    transform: scale(1.05); /*efeito de destaque*/
}

.disco img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.nome {
    font-weight: bold; /*negrito*/
    color: #A6764E;
    margin-top: 10px;
    font-size: 1.1rem;
}

.preco {
    color: #D8A93A;
    font-weight: bold;
    margin-top: 5px;
    font-size: 1rem;
}   
